body{
  background-color: white;
  color: rgb(0, 0, 0);
}
nav{
  background-color: aqua;
  width: auto;
  height: 80px;
}
.main-content{
  background-color: rgb(69, 204, 57);
  width: 620px;
  height: 400px;
}
.sidebar{
  background-color: blueviolet;
  height: 400px;
  width: 300px;
}
.container_1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
.twin{
  background-color: rgb(194, 121, 31);
  width: 460px;
  height: 200px;
}
.container_2{
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
}
.footer{
  color: aqua;
  width: auto;
  height: 80px;
  margin-top: 5px;
}