body{
  color: black;
  background-color: white;
}
.p1{
  background-color: aqua;
  color: blue;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 14px;
  text-align: center;
}

.p1 p{
  padding: 12px;
}

